*.class
/sample/SpeechDemo/bin
/sample/SpeechDemo/gen
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/IatDemo$1.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/IatDemo$2.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/IatDemo$3.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/IatDemo$4.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/IatDemo$5$1.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/IatDemo$5.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/IatDemo$6.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/IatDemo.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/R$id.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/R$layout.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/R$string.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/R$style.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/R$xml.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/VoiceAssistanceActivity$1.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/VoiceAssistanceActivity$ViewHolder.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/VoiceAssistanceActivity$VoiceListAdapter.class
sample/SpeechDemo/bin/classes/com/iflytek/voicedemo/VoiceAssistanceActivity.class
sample/SpeechDemo/gen/com/iflytek/voicedemo/R.java